# <center>**Pandas Introduction**</center>
---

<br>

## **Pandas DataFrame**

Pandas is an open-source Python Library providing high-performance data manipulation and analysis tool using its powerful data structures. 
The name Pandas is derived from the word Panel Data â€“ an Econometrics from Multidimensional data.

How does a Data Frame look like?..

<img src='image.png' width='700 px'/>

# Create an Empty DataFrame

In [1]:
import pandas as pd
df = pd.DataFrame()
print (df)

Empty DataFrame
Columns: []
Index: []

In [2]:
# Create a dataframe with a list as input
data = [1,2,3,4,5]
df = pd.DataFrame(data)
print (df)
print(type(df))
type(data)

   0
0  1
1  2
2  3
3  4
4  5
<class 'pandas.core.frame.DataFrame'>

list

In [3]:
# Create a dataframe with a list as input
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
print (df)

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [4]:
df.shape

(3, 2)

## **Reading data**

In [5]:
# Read data from csv file
ipl = pd.read_csv('matches2008-2016.csv')
ipl_new = pd.read_csv('matches2017.csv')

## **Checking data dimentions**

In [6]:
print(ipl.shape)
print(ipl_new.shape)

(577, 19)
(59, 19)

In [7]:
ipl.tail(3)

,match_id,season,city,date,team1_id,team2_id,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,player_of_match_id,venue,venue_id,umpire1,umpire2
574,2016_58,2016,Delhi,25-05-2016,SRH,KKR,KKR,field,normal,0,SRH,22,0,Moises Henriques,212.0,"Feroz Shah Kotla Stadium, Delhi",2,M Erasmus,C Shamshuddin
575,2016_59,2016,Delhi,27-05-2016,GL,SRH,SRH,field,normal,0,SRH,0,4,David Warner,207.0,"Feroz Shah Kotla Stadium, Delhi",2,M Erasmus,CK Nandan
576,2016_60,2016,Bangalore,29-05-2016,SRH,RCB,SRH,bat,normal,0,SRH,8,0,Ben Cutting,526.0,"M.Chinnaswamy Stadium Bengaluru, Karnataka",7,HDPK Dharmasena,BNJ Oxenford

In [8]:
ipl_new.tail(3)

,match_id,season,city,date,team1_id,team2_id,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,player_of_match_id,venue,venue_id,umpire1,umpire2
56,2017_57,2017,Bangalore,17-05-2017,SRH,KKR,KKR,field,normal,1,KKR,0,7,Nathan Coulter-Nile,484,"M.Chinnaswamy Stadium Bengaluru, Karnataka",7,AK Chaudhary,Nitin Menon
57,2017_58,2017,Bangalore,19-05-2017,KKR,MI,MI,field,normal,0,MI,0,6,Karn Sharma,254,"M.Chinnaswamy Stadium Bengaluru, Karnataka",7,NJ Llong,Nitin Menon
58,2017_59,2017,Hyderabad,21-05-2017,MI,RPS,MI,bat,normal,0,MI,1,0,Krunal Pandya,582,"Rajiv Gandhi International Stadium, Hyderabad",4,NJ Llong,S Ravi

## **Appending DataFrame**

In [9]:
ipl_final = ipl.copy()             # Explicitly creating a copy of ipl. Just to make sure you don't modify your original data

In [10]:
print(ipl_final.shape)

(577, 19)

In [11]:
ipl_final = ipl_final.append(ipl_new)
print(ipl_final.shape)

(636, 19)

## **Data Inspection**

In [12]:
## .shape gives dimentions of Data
print(ipl_final.shape)                            # dim() in R - Dimentions of data

(636, 19)

In [13]:
## Getting top 3 rows
ipl_final.head(3)

,match_id,season,city,date,team1_id,team2_id,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,player_of_match_id,venue,venue_id,umpire1,umpire2
0,2008_1,2008,Bangalore,18-04-2008,KKR,RCB,RCB,field,normal,0,KKR,140,0,Brendon McCullum,82.0,"M.Chinnaswamy Stadium Bengaluru, Karnataka",7,Asad Rauf,RE Koertzen
1,2008_2,2008,Chandigarh,19-04-2008,CSK,KXI,CSK,bat,normal,0,CSK,33,0,Michael Hussey,18.0,I.S. Bindra Punjab Cricket Association Stadium...,9,MR Benson,SL Shastri
2,2008_3,2008,Delhi,19-04-2008,RR,DD,RR,bat,normal,0,DD,0,9,Farveez Maharoof,60.0,"Feroz Shah Kotla Stadium, Delhi",2,Aleem Dar,GA Pratapkumar

In [14]:
## Getting last 3 rows
ipl_final.tail(3)

,match_id,season,city,date,team1_id,team2_id,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,player_of_match_id,venue,venue_id,umpire1,umpire2
56,2017_57,2017,Bangalore,17-05-2017,SRH,KKR,KKR,field,normal,1,KKR,0,7,Nathan Coulter-Nile,484.0,"M.Chinnaswamy Stadium Bengaluru, Karnataka",7,AK Chaudhary,Nitin Menon
57,2017_58,2017,Bangalore,19-05-2017,KKR,MI,MI,field,normal,0,MI,0,6,Karn Sharma,254.0,"M.Chinnaswamy Stadium Bengaluru, Karnataka",7,NJ Llong,Nitin Menon
58,2017_59,2017,Hyderabad,21-05-2017,MI,RPS,MI,bat,normal,0,MI,1,0,Krunal Pandya,582.0,"Rajiv Gandhi International Stadium, Hyderabad",4,NJ Llong,S Ravi

In [15]:
## Right way

ipl_final = ipl.copy()             # Explicitly creating a copy of ipl. Just to make sure you don't modify your original data
ipl_final = ipl_final.append(ipl_new,ignore_index=True)
print(ipl_final.shape)

## Getting top 3 rows
ipl_final.tail(3)

(636, 19)

,match_id,season,city,date,team1_id,team2_id,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,player_of_match_id,venue,venue_id,umpire1,umpire2
633,2017_57,2017,Bangalore,17-05-2017,SRH,KKR,KKR,field,normal,1,KKR,0,7,Nathan Coulter-Nile,484.0,"M.Chinnaswamy Stadium Bengaluru, Karnataka",7,AK Chaudhary,Nitin Menon
634,2017_58,2017,Bangalore,19-05-2017,KKR,MI,MI,field,normal,0,MI,0,6,Karn Sharma,254.0,"M.Chinnaswamy Stadium Bengaluru, Karnataka",7,NJ Llong,Nitin Menon
635,2017_59,2017,Hyderabad,21-05-2017,MI,RPS,MI,bat,normal,0,MI,1,0,Krunal Pandya,582.0,"Rajiv Gandhi International Stadium, Hyderabad",4,NJ Llong,S Ravi

In [16]:
## .columns gives column names
print(ipl_final.columns)  # colnames() in R

Index(['match_id', 'season', 'city', 'date', 'team1_id', 'team2_id',
       'toss_winner', 'toss_decision', 'result', 'dl_applied', 'winner',
       'win_by_runs', 'win_by_wickets', 'player_of_match',
       'player_of_match_id', 'venue', 'venue_id', 'umpire1', 'umpire2'],
      dtype='object')

In [17]:
## .dtypes gives data types for each column
print(ipl_final.dtypes)                           # str() in R - Data types

match_id               object
season                  int64
city                   object
date                   object
team1_id               object
team2_id               object
toss_winner            object
toss_decision          object
result                 object
dl_applied              int64
winner                 object
win_by_runs             int64
win_by_wickets          int64
player_of_match        object
player_of_match_id    float64
venue                  object
venue_id                int64
umpire1                object
umpire2                object
dtype: object

## **Setting match_id as row index**

In [18]:
ipl_final.head(3)

,match_id,season,city,date,team1_id,team2_id,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,player_of_match_id,venue,venue_id,umpire1,umpire2
0,2008_1,2008,Bangalore,18-04-2008,KKR,RCB,RCB,field,normal,0,KKR,140,0,Brendon McCullum,82.0,"M.Chinnaswamy Stadium Bengaluru, Karnataka",7,Asad Rauf,RE Koertzen
1,2008_2,2008,Chandigarh,19-04-2008,CSK,KXI,CSK,bat,normal,0,CSK,33,0,Michael Hussey,18.0,I.S. Bindra Punjab Cricket Association Stadium...,9,MR Benson,SL Shastri
2,2008_3,2008,Delhi,19-04-2008,RR,DD,RR,bat,normal,0,DD,0,9,Farveez Maharoof,60.0,"Feroz Shah Kotla Stadium, Delhi",2,Aleem Dar,GA Pratapkumar

In [19]:
ipl_final.set_index(['match_id'],inplace=True)

In [20]:
ipl_final.head(3)

,season,city,date,team1_id,team2_id,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,player_of_match_id,venue,venue_id,umpire1,umpire2
match_id,,,,,,,,,,,,,,,,,,
2008_1,2008,Bangalore,18-04-2008,KKR,RCB,RCB,field,normal,0,KKR,140,0,Brendon McCullum,82.0,"M.Chinnaswamy Stadium Bengaluru, Karnataka",7,Asad Rauf,RE Koertzen
2008_2,2008,Chandigarh,19-04-2008,CSK,KXI,CSK,bat,normal,0,CSK,33,0,Michael Hussey,18.0,I.S. Bindra Punjab Cricket Association Stadium...,9,MR Benson,SL Shastri
2008_3,2008,Delhi,19-04-2008,RR,DD,RR,bat,normal,0,DD,0,9,Farveez Maharoof,60.0,"Feroz Shah Kotla Stadium, Delhi",2,Aleem Dar,GA Pratapkumar

## **Summary statistics**

In [21]:
ipl_final.describe()

,season,dl_applied,win_by_runs,win_by_wickets,player_of_match_id,venue_id
count,636.000000,636.000000,636.000000,636.000000,633.000000,636.000000
mean,2012.490566,0.025157,13.682390,3.372642,209.751975,10.179245
std,2.773026,0.156726,23.908877,3.420338,180.132037,9.403096
min,2008.000000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,2010.000000,0.000000,0.000000,0.000000,69.000000,3.000000
50%,2012.000000,0.000000,0.000000,4.000000,149.000000,7.000000
75%,2015.000000,0.000000,20.000000,7.000000,321.000000,14.000000
max,2017.000000,1.000000,146.000000,10.000000,691.000000,34.000000

In [22]:
ipl_final.describe(include='all')

,season,city,date,team1_id,team2_id,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,player_of_match_id,venue,venue_id,umpire1,umpire2
count,636.000000,629,636,636,636,636,636,636,636.000000,633,636.000000,636.000000,633,633.000000,636,636.000000,635,635
unique,NaN,30,450,13,13,13,2,3,NaN,13,NaN,NaN,201,NaN,34,NaN,44,45
top,NaN,Mumbai,04-05-2008,MI,DD,MI,field,normal,NaN,MI,NaN,NaN,Chris Gayle,NaN,"M.Chinnaswamy Stadium Bengaluru, Karnataka",NaN,HDPK Dharmasena,SJA Taufel
freq,NaN,85,2,82,84,85,363,626,NaN,92,NaN,NaN,18,NaN,66,NaN,73,54
mean,2012.490566,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.025157,NaN,13.682390,3.372642,NaN,209.751975,NaN,10.179245,NaN,NaN
std,2.773026,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.156726,NaN,23.908877,3.420338,NaN,180.132037,NaN,9.403096,NaN,NaN
min,2008.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,0.000000,0.000000,NaN,1.000000,NaN,1.000000,NaN,NaN
25%,2010.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,0.000000,0.000000,NaN,69.000000,NaN,3.000000,NaN,NaN
50%,2012.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,0.000000,4.000000,NaN,149.000000,NaN,7.000000,NaN,NaN
75%,2015.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,20.000000,7.000000,NaN,321.000000,NaN,14.000000,NaN,NaN
max,2017.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,146.000000,10.000000,NaN,691.000000,NaN,34.000000,NaN,NaN

## **Dropping columns**

In [23]:
ipl_final.columns

Index(['season', 'city', 'date', 'team1_id', 'team2_id', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'player_of_match_id', 'venue',
       'venue_id', 'umpire1', 'umpire2'],
      dtype='object')

In [24]:
# Dropping Column
ipl_final.drop(['venue_id'], axis=1, inplace=True)    # Axis = 1 for columns

ipl_final.head(3)

,season,city,date,team1_id,team2_id,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,player_of_match_id,venue,umpire1,umpire2
match_id,,,,,,,,,,,,,,,,,
2008_1,2008,Bangalore,18-04-2008,KKR,RCB,RCB,field,normal,0,KKR,140,0,Brendon McCullum,82.0,"M.Chinnaswamy Stadium Bengaluru, Karnataka",Asad Rauf,RE Koertzen
2008_2,2008,Chandigarh,19-04-2008,CSK,KXI,CSK,bat,normal,0,CSK,33,0,Michael Hussey,18.0,I.S. Bindra Punjab Cricket Association Stadium...,MR Benson,SL Shastri
2008_3,2008,Delhi,19-04-2008,RR,DD,RR,bat,normal,0,DD,0,9,Farveez Maharoof,60.0,"Feroz Shah Kotla Stadium, Delhi",Aleem Dar,GA Pratapkumar

## **Dropping row**

In [25]:
# Dropping rows
ipl_final.drop(['2008_1','2009_1','2010_1'], axis=0, inplace=True)  # Axis = 0 for rows

ipl_final.head(3)

,season,city,date,team1_id,team2_id,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,player_of_match_id,venue,umpire1,umpire2
match_id,,,,,,,,,,,,,,,,,
2008_2,2008,Chandigarh,19-04-2008,CSK,KXI,CSK,bat,normal,0,CSK,33,0,Michael Hussey,18.0,I.S. Bindra Punjab Cricket Association Stadium...,MR Benson,SL Shastri
2008_3,2008,Delhi,19-04-2008,RR,DD,RR,bat,normal,0,DD,0,9,Farveez Maharoof,60.0,"Feroz Shah Kotla Stadium, Delhi",Aleem Dar,GA Pratapkumar
2008_4,2008,Mumbai,20-04-2008,MI,RCB,MI,bat,normal,0,RCB,0,5,Mark Boucher,145.0,"Wankhede Stadium, Mumbai, Maharashtra",SJ Davis,DJ Harper

## **Frequency distribution**

In [26]:
ipl_final['winner'].value_counts()       # table() in R - Frequency count

MI     91
CSK    79
KKR    75
RCB    73
KXI    70
RR     63
DD     62
SRH    42
DC     29
RPS    15
GL     13
PW     12
KTK     6
Name: winner, dtype: int64

## **loc (to subset data by Row/Column labels)**

In [27]:
## Label based indexing make more sense for column subsetting
subset1 = ipl_final.loc[:,['venue','winner']]
subset1.head(3)

                                                      venue winner
match_id
2008_2    I.S. Bindra Punjab Cricket Association Stadium...    CSK
2008_3                      Feroz Shah Kotla Stadium, Delhi     DD
2008_4                Wankhede Stadium, Mumbai, Maharashtra    RCB

In [28]:
## For loc based subsetting using row and column indexer together is rare.
subset2 = ipl_final.loc[['2008_2','2009_2','2010_2',],['venue','winner']]
subset2.head(3)

                                                      venue winner
match_id
2008_2    I.S. Bindra Punjab Cricket Association Stadium...    CSK
2009_2                                             Newlands    RCB
2010_2                                    Brabourne Stadium     MI

## **iloc    (to subset data based on Row/Column number)**

In [29]:
ipl.head(3)

,match_id,season,city,date,team1_id,team2_id,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,player_of_match_id,venue,venue_id,umpire1,umpire2
0,2008_1,2008,Bangalore,18-04-2008,KKR,RCB,RCB,field,normal,0,KKR,140,0,Brendon McCullum,82.0,"M.Chinnaswamy Stadium Bengaluru, Karnataka",7,Asad Rauf,RE Koertzen
1,2008_2,2008,Chandigarh,19-04-2008,CSK,KXI,CSK,bat,normal,0,CSK,33,0,Michael Hussey,18.0,I.S. Bindra Punjab Cricket Association Stadium...,9,MR Benson,SL Shastri
2,2008_3,2008,Delhi,19-04-2008,RR,DD,RR,bat,normal,0,DD,0,9,Farveez Maharoof,60.0,"Feroz Shah Kotla Stadium, Delhi",2,Aleem Dar,GA Pratapkumar

In [30]:
## Numeric based indexing usually makes sense for row subsetting 
ipl.iloc[50:54,1:5]

    season       city        date team1_id
50    2008    Chennai  24-05-2008       RR
51    2008  Bangalore  03-05-2008      RCB
52    2008    Kolkata  25-05-2008      KXI
53    2008     Jaipur  26-05-2008       MI

## **Boolean indexing (to subset based on value in each cell of the column )**
**Here we subsetting the data where the cell value in "City" column is equal to "Hyderabad"**

In [31]:
subset3 = ipl.loc[ipl['city']=='Hyderabad',:]
subset3.shape

(41, 19)

## **Replace specific values**

### Replace DC with SRH

In [32]:
ipl['winner'].value_counts()

MI     80
CSK    79
RCB    70
KKR    68
KXI    63
RR     63
DD     56
SRH    34
DC     29
PW     12
GL      9
KTK     6
RPS     5
Name: winner, dtype: int64

In [33]:
ipl.replace(['DC'], 'SRH', inplace=True)

ipl['winner'].value_counts()

MI     80
CSK    79
RCB    70
KKR    68
SRH    63
KXI    63
RR     63
DD     56
PW     12
GL      9
KTK     6
RPS     5
Name: winner, dtype: int64

## **ACTIVITY**

1. Which matches were played on **2008-04-20** and who is the **winner**?
2. Select all matches where CSK wins in Chennai, and should contain only **team1_id,team2_id,winner,city**

In [34]:
subset4 = ipl.loc[(ipl['city']=='Chennai') & (ipl['winner']=='CSK'),['team1_id','team2_id','winner','city']]

subset4.head()

    team1_id team2_id winner     city
7        CSK       MI    CSK  Chennai
11       KKR      CSK    CSK  Chennai
31       CSK      KXI    CSK  Chennai
142      RCB      CSK    CSK  Chennai
146      CSK       RR    CSK  Chennai

In [35]:
ipl.loc[ipl['date']=='20-04-2008',['winner']]

  winner
3    RCB
4    KKR

## Additional Information

``Pandas`` is an open source Python library for data analysis. It gives Python the
ability to work with spreadsheet-like data for fast data loading, manipulating,
aligning, merging, etc. To give Python these enhanced features, Pandas
introduces two new data types to Python: ``Series`` and ``DataFrame``. The
DataFrame will represent your entire spreadsheet or rectangular data, whereas
the Series is a single column of the DataFrame. A Pandas DataFrame can also
be thought of as a dictionary or collection of Series.

While NumPy and its ndarray object, which provides efficient storage and manipulation 
of dense typed arrays in Python. Pandas is a package built on top of NumPy, and provides an
efficient implementation of a DataFrame. DataFrames are essentially multidimensional
arrays with attached row and column labels, and often with heterogeneous
types and/or missing data. As well as offering a convenient storage interface for
labeled data, Pandas implements a number of powerful data operations familiar to
users of both database frameworks and spreadsheet programs.

NumPyâ€™s ndarray data structure provides essential features for the type of
clean, well-organized data typically seen in numerical computing tasks. While it
serves this purpose very well, its limitations become clear when we need more flexibility
(attaching labels to data, working with missing data, etc.) and when attempting
operations that do not map well to element-wise broadcasting (groupings, pivots,
etc.), each of which is an important piece of analyzing the less structured data available
in many forms in the world around us. Pandas, and in particular its Series and
DataFrame objects, builds on the NumPy array structure and provides efficient access
to these sorts of â€œdata mungingâ€ tasks that occupy much of a data scientistâ€™s time.

Import ``pandas`` under the alias pd and check the version:

In [36]:
import pandas as pd
pd.__version__

'1.0.1'

***Reminder About Built-In Documentation***

Remember, IPython gives you the ability to quickly explore the contents of a package 
(by using the tab-completion feature) as well as the documentation of various functions 
(using the ? character).

For example, to display all the contents of the pandas namespace, you can type this:

pd.<TAB>

And to display the built-in Pandas documentation, you can use this:

pd?

More detailed documentation, along with tutorials and other resources, can be found
at [Pandas](http://pandas.pydata.org/.)